
<div>
    <h1>Login</h1>
    <form id="cookieForm" action="/api/session/login" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Ingresa tu email</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="font-weight: bold;">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <a href="/recoveryPassword">Olvidaste tu contraseña?</a>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <div class="github">
        <a href="/api/session/github" class="githubButton">Ingresar con Github</a>
    </div>
</div>
